
body{
    background-color: black;
    margin: 0;
}

.navbar{
    background-color: white;
    overflow: hidden;
    height: 63px;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
}

.navbar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar ul{
    padding: 8px 0 0 0;
    list-style: none;
}

.navbar a:hover{
    background-color: grey;
    color: white;
}

.navbar .Carrito{
    float: right;
    margin-right: 30px;
    padding-bottom: 10px;
}

.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: black;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover{
    background-color: black;
    color: white;
}

.side-nav .btn-close{
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

.portada{
    text-align: center;
    position: static;
    padding-top: 200px;
}

.banner{
    width: 600px;
    height: 600px;
}

.textoNormal{
    text-align: center;
    color: white;
    margin: 30px;
    position: static;
}

.redes{
    width: 50px;
    height: 50px;
}

.Titulo{
    text-align: center;
    color: white;
    padding-top: 100px;
}

.ContadorCarrito{
    color: black;
    font-size: 17px;
}

.navbar .ContadorCarrito{
    float: right;
}

.container,
.products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.TituloProductos{
    color: white;
}

.image{
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.add-cart{
    position: absolute;
    width: 100%;
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3{
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}

/*---------CARRITO----------------*/

.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container ion-icon{
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
    color: white;
}

.product-title{
    width: 45%;
}

.price{
    width: 15%;
    color: white;
    display: flex;
    align-items: center;
}

.quantity{
    width:30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    color: white;
}


.total{
    width: 10%;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
    color: white;
}

.product{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
    color: white;
}

.basketTotalTitle{
    width: 30%;
}

.basketTotal{
    width: 10%;
}

@media(max-width:1080px){
    .banner{
        width: 250px;
        height: 250px;
    }

    .image{
        margin-right: 20px;
        margin-left: 20px;
        position: static;
        overflow: hidden;
    }
    
    .add-cart{
        position:static;
        width: 50%;
        background-color: white;
        color: black;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        cursor: pointer;
        text-align: center;
        padding-right: 30px;
    }
}